.question-accordion {
  border-radius: 20px;
  box-shadow: 0px 24px 40px 0px var(--mantine-color-custom-10);

  @media (max-width: var(--mantine-breakpoint-sm)) {
    border-radius: 10px;
  }

  &__item:last-child {
    border: none;
  }
}
